<% wrap_layout :layout do %>
<section class="ph5-l ph3 ph4-ns mb6-ns mb4">
  <div class="mw9 center">
    <div class="mw7 center">
      <h1 class="mt2 mb0 f1-ns f2 lh-title"><%= current_article.title %></h1>
      <h2 class="mt0 f2-ns f3 mb0 sans-serif fw3">
        <% if current_article.data.companyLong %> <%=
        current_article.data.companyLong %> <% else %> <%=
        current_article.data.company %> <% end %>
      </h2>
    </div>
    <div class="flex-ns items-center mb5 mt3">
      <div class="caseStudy-img fb-50-ns pr5-ns">
        <% if current_article.data.introImage %>
        <img
          src="/images/<%= current_article.data.introImage %>"
          class="fade show"
          alt="<%= current_article.title %>"
        />
        <% else %>
        <img
          src="/images/work-<%= current_article.data.prefix %>-1.png"
          class="fade"
          alt="<%= current_article.data.alt %>"
        />
        <% end %>
      </div>
      <div class="caseStudy-intro fb-50-ns pr5-ns">
        <h2 class="text-fade ttu f5-ns f6 sans-serif dark-green tracked mt2-ns">
          Problem
        </h2>
        <p><%= current_article.data.problem %></p>

        <h2 class="text-fade ttu f5-ns f6 sans-serif dark-green tracked mt4-ns">
          Process
        </h2>
        <% current_article.data.process.each_with_index do |step, i| %>
        <p class="text-fade">
          <span class="b"
            ><% if current_article.data.process[i] %><% if
            current_article.data.process[i].types %><%=
            current_article.data.process[i].name %>:<% end %><% end %></span
          >
          <% if current_article.data.process[i] %><%=
          current_article.data.process[i].types %><% end %>
        </p>
        <% end %>
      </div>
    </div>
    <div class="mw7 center">
      <span class="text-fade">
        <p><%= current_article.data.summary %></p>
        <%= yield %>
      </span>
    </div>
    <% current_article.data.process.each_with_index do |step, i| %>
    <div class="mw7 center">
      <h2 class="text-fade f2-ns f3 mb0 lh-title">
        <%= current_article.data.process[i].name %>
      </h2>
      <h3 class="text-fade sans-serif fw3 f3-ns f4 mt1 mb2 dark-green lh-title">
        <%= current_article.data.process[i].types %>
      </h3>
      <span class="text-fade">
        <% current_article.data.process[i].description.each_with_index do |p, i|
        %>
        <p>
          <%= current_article.data.process[i].description[0].paragraph %>
        </p>
        <% end %></span
      ><% if current_article.data.process[i].images %>
    </div>
    <div class="mw9 center mv4">
      <div class="flex-ns justify-center">
        <div class="caseStudy-images flex-ns items-center">
          <% current_article.data.process[i].images.each_with_index do |p, n| %>
          <div class="pa2">
            <img
              src="/images/<%= current_article.data.process[i].images[n].image %>"
              class="fade show"
              alt="<%= current_article.title %>"
            />
          </div>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>

  <aside>
    <div class="mw9 mt4 center">
      <ul
        class="flex items-center justify-between list pl0 bt b--light-gray pt3"
      >
        <li>
          <% prev_article = current_article.previous_article %> <% if
          prev_article %>
          <p>
            <span class="f5 db b sans-serif">Previous Case Study</span>
            <a
              href="<%= prev_article.url %>"
              rel="prev"
              title="Previous case study: <%= prev_article.title %>"
            >
              <%= prev_article.title %>
            </a>
          </p>
          <% end %>
        </li>
        <li class="tr">
          <% next_article = current_article.next_article %> <% if next_article
          %>
          <p>
            <span class="f5 db b sans-serif">Next Case Study</span>
            <a
              href="<%= next_article.url %>"
              rel="next"
              title="Next case study: <%= next_article.title %>"
            >
              <%= next_article.title %>
            </a>
          </p>
          <% end %>
        </li>
      </ul>
    </div>
  </aside>
</section>
<% end %>
