<!DOCTYPE html>
<html class="no-js">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@klare" />
  <meta name="twitter:title" content="Klare Frank, Product Designer" />
  <meta name="twitter:description" content="Klare Frank is a digital product designer based in Seattle, WA" />
  <meta name="twitter:creator" content="@klare" />
  <meta name="twitter:image" content="http://klare.io/images/work-hcde-1.png" />
  <meta name="twitter:domain" content="klare.io" />
  <meta property="og:title" content="Klare Frank, Product Designer" />
  <meta property="og:description" content="Klare Frank is a digital product designer based in Seattle, WA" />
  <meta property="og:image" content="http://klare.io/images/work-hcde-1.png" />
  <link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:700|Barlow:300,700|Merriweather:300,700"
    rel="stylesheet" />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css" />
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
  <script>
    hljs.initHighlightingOnLoad();
  </script>
  <!-- Use the title from a page's frontmatter if it has one -->
  <title>
    <%= current_page.data.title || "Klare Frank, Product Designer" %>
  </title>
  <%= stylesheet_link_tag "site" %>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-49926701-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());
    gtag("config", "UA-49926701-1");
  </script>
</head>

<body>
  <%= partial "nav" %> <%= yield %> <%= partial "footer" %>

  <script src="http://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <%= javascript_include_tag "jquery.waypoints.min" %> <%=
    javascript_include_tag "site" %>
</body>

</html>