<section id="career" class="tc">
  <div class="mw9 center">
    <h1 class="text-fade">8+ years of design experience launching products</h1>
    <a href="Klare-Frank-Resume.pdf" class="button dib mt2 text-fade"
      >Download résumé</a
    >
    <div class="career-grid flex flex-wrap items-center justify-center fade">
      <div class="career-grid-img">
        <%= image_tag 'logo-verge.png' %>
      </div>
      <div class="career-grid-img">
        <%= image_tag 'logo-treehouse.png' %>
      </div>
      <div class="career-grid-img">
        <%= image_tag 'logo-eater.png' %>
      </div>
      <div class="career-grid-img">
        <%= image_tag 'logo-cfpb.png' %>
      </div>
      <div class="career-grid-img">
        <%= image_tag 'logo-ga.png' %>
      </div>
      <div class="career-grid-img">
        <%= image_tag 'logo-alaska.png' %>
      </div>
      <div class="career-grid-img">
        <%= image_tag 'logo-gates-foundation.png' %>
      </div>
      <div class="career-grid-img">
        <%= image_tag 'logo-epa.png' %>
      </div>
    </div>
  </div>
</section>
