<section id="career" class="tc mt4 mt0-ns pv4 bg-washed-yellow">
  <div class="mw9 center">
    <h1 class="text-fade center f3 lh-title">
      8+ years of design experience launching products
    </h1>
    <div class="career-grid grid grid-columns-2 grid-columns-4-ns ga-c fade">
      <div class="career-grid-img">
        <%= image_tag 'logo-verge.png' %>
      </div>
      <div class="career-grid-img">
        <%= image_tag 'logo-treehouse.png' %>
      </div>
      <div class="career-grid-img">
        <%= image_tag 'logo-eater.png' %>
      </div>
      <div class="career-grid-img">
        <%= image_tag 'logo-cfpb.png' %>
      </div>
      <div class="career-grid-img">
        <%= image_tag 'logo-ga.png' %>
      </div>
      <div class="career-grid-img">
        <%= image_tag 'logo-alaska.png' %>
      </div>
      <div class="career-grid-img">
        <%= image_tag 'logo-gates-foundation.png' %>
      </div>
      <div class="career-grid-img">
        <%= image_tag 'logo-epa.png' %>
      </div>
    </div>
  </div>
</section>
