<section id="writing" class="pv4-ns pb0">
  <div class="mw9 center">
    <div class="flex justify-between items-center">
      <h1 class="text-fade sans-serif fw3">Writing</h1>
      <a href="/writing" class="button text-fade">View all articles</a>
    </div>
    <% blog('writing').articles[0...4].each do |article| %>
    <article class="pv4 grid-ns br-0 bb-0 bl-0 b--solid b--light-gray bw2">
      <div class="article-meta">
        <a href="<%= article.url %>" class="link near-black">
          <h2 class="text-fade mt2 mb1 f3 serif lh-title">
            <%= article.title %>
          </h2>
        </a>
        <time class="text-fade f4 sans-serif"
          ><%= article.date.strftime('%B %Y') %></time
        >
      </div>
      <div class="article-intro">
        <%= article.summary %>
        <a href="<%= article.url %>" class="button text-fade mt2 dib"
          >Read more</a
        >
      </div>
    </article>
    <% end %>
  </div>
</section>
